include mixins.pug
+html('Joe Spandrusyszyn\'s Portfolio', 'A collection of some of the many things that make Joe Spandrusyszyn who he is.')
  +header('signature', null /* backURL */, true /* prominent */)
  +imageList('link-list',[
    {
      url: "${require('./photos.pug')}",
      imageSrc: "${require('../images/home/photos.jpg')}",
      label: 'Photos'
    },
    {
      url: "${require('./stories.pug')}",
      imageSrc: "${require('../images/home/stories.png')}",
      label: 'Stories'
    },
    {
      url: "${require('./software.pug')}",
      imageSrc: "${require('../images/home/software.png')}",
      label: 'Software'
    },
  ])
