mixin html(title, description, root)
  - var basePath = root ? (root + '/../') : '../'
  html(lang="en")
    head
      title #{title}
      link(href="https://fonts.googleapis.com/css?family=Roboto:400,400i,500,700" rel="stylesheet")
      link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet")
      link(href="/s.css" rel="stylesheet")
      link(href="${require('" + basePath + "favicons/favicon.ico')}" rel="icon" type="image/x-icon")
      link(href="${require('" + basePath + "favicons/favicon-16x16.png')}" rel="icon" type="image/png" sizes="16x16")
      link(href="${require('" + basePath + "favicons/favicon-32x32.png')}" rel="icon" type="image/png" sizes="16x16")
      meta(name="viewport" content="width=device-width, initial-scale=1.0")
      meta(name="description" content=description)
      meta(name="theme-color" content="#000000")
    body(class="mdc-typography")
      block
      script(src="/s.js" async)

mixin header(title, backURL, prominent)
  header(class=prominent ? 'mdc-top-app-bar mdc-top-app-bar--prominent' : 'mdc-top-app-bar')
    div(class='mdc-top-app-bar__row')
      div(class='mdc-top-app-bar__section mdc-top-app-bar__section--align-start')
        if backURL
          a(href=backURL class='material-icons mdc-top-app-bar__navigation-icon') arrow_back
        span(class='mdc-top-app-bar__title')
          if title === 'signature'
            img(src="${require('../images/sig.png')}" alt='Joe Spandrusyszyn\'s Signature')
            br
            | Joe Spandrusyszyn
          else
            | #{title}
  div(class=prominent ? 'mdc-top-app-bar--prominent-fixed-adjust' : 'mdc-top-app-bar--fixed-adjust')

mixin textSection(extraClass)
  section(class=(extraClass ? extraClass + " " : "") + "text")
    block

mixin textSectionTitle
  h1(class="title")
    block

mixin textSectionText
  p
    block

mixin button(url, label, isExternal)
  a(href=url class="mdc-button mdc-button--raised secondary" target=(isExternal ? '_blank' : false)) #{label}

mixin imageList(classname, images)
  div(class=classname+" mdc-image-list mdc-image-list--with-text-protection")
    each image in images
      +imageListItem(image)

mixin imageListItem(image)
  if image.url
    a(href=image.url class="mdc-image-list__item" target=(image.isExternal ? '_blank' : false))
      +imageListItemContents(image)
  else
    div(class="mdc-image-list__item")
      +imageListItemContents(image)

mixin imageListItemContents(image)
  div(class="mdc-image-list__image-aspect-container")
    img(class="mdc-image-list__image" src=image.imageSrc alt=(image.alt ? image.alt : ''))
    if image.label
      div(class="mdc-image-list__supporting")
        span(class="mdc-image-list__label")
          | #{image.label}

mixin cards(classname)
  div(class="jasmdc-cards " + classname)
    block

mixin card(classname, hasMedia)
  div(class="mdc-card " + classname)
    if hasMedia
      div(class="mdc-card__media")
    block

mixin cardContent
  div(class="jasmdc-card__content")
    block
mixin cardTitle
  div(class="title")
    block

mixin cardSubtitle
  div(class="subtitle")
    block

mixin cardBody
  div(class="body")
    block

mixin cardActions()
  div(class="mdc-card__actions")
    div(class="mdc-card__action-buttons")
      block

mixin cardAction( url, text, isExternal )
  a(href=url class="mdc-button mdc-card__action mdc-card__action--button" target=(isExternal ? '_blank' : false)) #{text}

mixin twoLineList
  div(class="mdc-list mdc-list--two-line")
    block

mixin twoLineListItem( url, line1, line2, isExternal )
  a(href=url class="mdc-list-item" target=(isExternal ? '_blank' : false))
    span(class="mdc-list-item__text")
      | #{line1}
      span(class="mdc-list-item__secondary-text")
        | #{line2}
