include mixins.pug
+html('Stories by Joe Spandrusyszyn', 'A collection of stories written by Joe Spandrusyszyn.')
  +header('Stories', '.')
  div(class="mdc-list-group stories")
    div(class="mdc-list-group__subheader")
      | Work in Progress
      div(class="subtitle")
        | Stories that I've started, but have yet to finish

    +twoLineList
      +twoLineListItem("${require('./story/dreamers-wip.pug')}", "Dreamers (Working Title)", "ETA ??? (who knows when I'll actually finish it)")

    hr(class="mdc-list-divider")

    div(class="mdc-list-group__subheader")
      | Short Stories
      div(class="subtitle")
        | Original short stories, written entirely by me

    +twoLineList
      +twoLineListItem("${require('./story/untitledConversation.pug')}", "Untitled Conversation", "Written: 2007 or earlier")

    hr(class="mdc-list-divider")

    div(class="mdc-list-group__subheader")
      | Ultima Online Related Short Stories
      div(class="subtitle")
        | Stories about some of the characters I played in Ultima Online (Yan'Chi, Arthur Illandril, Zah'Qim, and Gildar). Since these stories revolve around an MMORPG, they often include details from the game, as well as characters from other players, so I cannot take full credit for everything in these stories (and I have tried to include notices for those parts where other people deserve credit for character, location, and other details).

    +twoLineList
      +twoLineListItem("${require('./story/aettp1.pug')}", "An End to the Peace, Part 1", "Written: 2003 or earlier")
      +twoLineListItem("${require('./story/aettp2.pug')}", "A Break in the War (An End to the Peace, Part 2)", "Written: 2003 or earlier")
      +twoLineListItem("${require('./story/returnToYew.pug')}", "Arthur's Return to Yew", "Written: 2003 or earlier")
      +twoLineListItem("${require('./story/aettp3.pug')}", "Missing Comrade (An End to the Peace, Part 3)", "Written: 2003 or earlier")
      +twoLineListItem("${require('./story/aettp4.pug')}", "Untitled (An End to the Peace, Part 4)", "Written: 2003 or earlier")
      +twoLineListItem("${require('./story/aettp5.pug')}", "The Return (An End to the Peace, Part 5)", "Written: 2003 or earlier")
      +twoLineListItem("${require('./story/knightLostAtHome.pug')}", "A Knight Lost at Home", "Written: 2003 or earlier")
      +twoLineListItem("${require('./story/departureOfBritannia.pug')}", "Departure of Britannia", "Written: 2003 or earlier")
      +twoLineListItem("${require('./story/zqIntroduction.pug')}", "Zah'Qim's Introduction", "Written: 2007 or earlier")
      +twoLineListItem("${require('./story/zqInvasionNote.pug')}", "Zah'Qim's Note on the Invasions", "Written: 2007 or earlier")
